.custom-input:focus {
    border: none;
    box-shadow: 0 0 0 0.20rem rgba(139, 105, 199, .7) !important; 
}

@media (max-width: 992px) {
  .container, .input-group {
    width: 100% !important;
  }
}